.rojo{
    background-color: red;
}

.verde{
    background-color: green;
}

.borde{
    border-color: brown;
    border-width: 3px;
    border-style: solid;
}

.ejemplo{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
}

.darkmode{
    background-color: slategrey;
    color: aliceblue;
}

.esconder{
    display: none;
}